@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Mitr', sans-serif;
}

.container {
    /* Container */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.modal_pic {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.modal_pic img {
    height: 100%;
}

.modal_context {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.modal_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal_desc {
    width: 65%;
    height: 95%;
    font-size: 1.25rem;
    overflow: scroll;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.panel {
    /* หน้าจอหลักของเกม */
    width: 75vw;
    height: 75vh;
    background-color: pink;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rover {
    /* หุ่นยนต์ */
    width: 100px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 2;
}

.eventShadow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
}

.toolbar {
    /* แถบแนวตั้ง */
    width: 25vw;
    height: 100vh;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.movesetbar {
    /* แถบแนวนอน */
    width: 75vw;
    height: 25vh;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.fontBiggerplz{
    font-size: 2rem;
}

.moveset {
    /* ปุ่มกดคำสั่ง */
    height: 100%;
    width: 60%;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.forward {
    /* ปุ่มกดคำสั่ง-เดินหน้า */
    width: 10rem;
    height: 10rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.backward {
    /* ปุ่มกดคำสั่ง-ถอยหลัง */
    width: 10rem;
    height: 10rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.turnleft {
    /* ปุ่มกดคำสั่ง-หมุนซ้าย */
    width: 10rem;
    height: 10rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.turnright {
    /* ปุ่มกดคำสั่ง-หมุนขวา */
    width: 10rem;
    height: 10rem;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.btn_moveset {
    /* ปุ่มกดคำสั่ง-กดปุ่มSend */
    width: 20%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headdir {
    /* [DEV] ที่บอกทิศของหุ่น */
    width: 5%;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.btnSend {
    /* ปุ่มกดคำสั่ง-กดปุ่มSend */
    width: 90%;
    height: 90%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cmdItems {
    /* กล่องคำสั่ง-อันเล็ก */
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    margin: 5%;
}

.statusPanel {
    /* กล่องสถานะ */
    width: 20%;
    height: 100%;
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scorePanel {
    /* กล่องคะแนน */
    width: 100%;
    height: 25%;
    background-color: yellow;
}

.commandPanel {
    /* กล่องคำสั่ง */
    width: 100%;
    height: 75%;
    background-color: green;
    overflow: scroll;
}
