@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Mitr', sans-serif;
}

.container {
    /* Container */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.modal_pic {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.modal_pic img {
    height: 100%;
}

.modal_context {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.modal_title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modal_desc {
    width: 65%;
    height: 95%;
    font-size: 1.25rem;
    overflow: scroll;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content {
    width: 70vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.panel {
    /* หน้าจอหลักของเกม */
    width: 75vw;
    height: 75vh;
    background-color: #c68840;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.rover {
    /* หุ่นยนต์ */
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rover img {
    width: 180%;
}

.goodE{
    background-color: #47a037;
}

.badE{
    background-color: #a03747;
}

.halfE{
    background-color: #a0a037;
}

.upE{
    background-color: #4747a0;
}

.hideE{
    background-color: #99662a;
}

.eventShadow{
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}

.toolbar {
    /* แถบแนวตั้ง */
    width: 25vw;
    height: 100vh;
    background-color: #8f8f8f;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movesetbar {
    /* แถบแนวนอน */
    width: 75vw;
    height: 25vh;
    background-color: blue;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.fontBiggerplz{
    font-size: 2rem;
}

.moveset {
    /* ปุ่มกดคำสั่ง */
    height: 100%;
    width: 60%;
    background-color: #8f8f8f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxMoveset {
    height: 85%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: #c4c4c4;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.boxMoveset img {
    height: 100%;
}

.forward {
    /* ปุ่มกดคำสั่ง-เดินหน้า */
    width: 10rem;
    height: 10rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 30px;
    border: 4px solid black;
}

.backward {
    /* ปุ่มกดคำสั่ง-ถอยหลัง */
    width: 10rem;
    height: 10rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 30px;
    border: 4px solid black;
}

.turnleft {
    /* ปุ่มกดคำสั่ง-หมุนซ้าย */
    width: 10rem;
    height: 10rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 30px;
    border: 4px solid black;
}

.turnright {
    /* ปุ่มกดคำสั่ง-หมุนขวา */
    width: 10rem;
    height: 10rem;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 30px;
    border: 4px solid black;
}

.btn_moveset {
    /* ปุ่มกดคำสั่ง-กดปุ่มSend */
    width: 20%;
    height: 100%;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxSend {
    width: 85%;
    height: 85%;
    background-color: #c4c4c4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.btnSend {
    /* ปุ่มกดคำสั่ง-กดปุ่มSend */
    width: 60%;
    height: 60%;
    background-color: #477feb;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.cmdItems {
    /* กล่องคำสั่ง-อันเล็ก */
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #232323;
    margin: 5%;
    border-radius: 30px;
    color: #148f00;
    font-size: 24px;
}

.statusPanel {
    /* กล่องสถานะ */
    width: 20%;
    height: 100%;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxStatus {
    width: 85%;
    height: 85%;
    background-color: #c4c4c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.textStatus {
    width: 85%;
    height: 85%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.textStatus h1 {
    color: #148f00;
    font-size: 26px;
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 5px;
}

.textStatus p {
    color: #fff;
    margin: 0;
}

.boxScore {
    width: 100%;
    height: 25%;
    background-color: #8f8f8f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.scorePanel {
    /* กล่องคะแนน */
    width: 90%;
    height: 85%;
    background-color: #c4c4c4;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textScore {
    width: 90%;
    height: 85%;
    background-color: #232323;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textScore h1 {
    color: #148f00;
    letter-spacing: 10px;
    margin: 0;
    margin-bottom: 5px;
}

.textScore p {
    font-size: 24px;
    margin: 0;
}

.commandPanel {
    /* กล่องคำสั่ง */
    width: 90%;
    height: 72%;
    background-color: #c4c4c4;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 30px;
}

.alert_box{
    width: 20vw;
    height: 10vh;
    background-color: yellow;
    position: absolute;
    top: 25vh;
    left: 25vw;
    z-index: 3;
    transition: all 0.5s;
}

.alert_box_content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert_box .hide{
    bottom: -50vh;
}

.menu_btn{
    width: 10vh;
    height: 10vh;
    position: absolute;
    top: 1%;
    right: 1%;
    transition: all 1s;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focus{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu_panel{
    width: 75%;
    height: 75%;
    background-color: whitesmoke;
    z-index: 2;
    overflow: hidden;
    border-radius: 2.5vw;
}

.mainmenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transition: all 0.5s;
    font-size: 32px;
    letter-spacing: 5px;
    color: #fff;
}

.drawer_mainmenu{
    transform: translateY(-100%);
}

.close_draw{
    width: 5%;
    height: 10%;
    position: absolute;
    top: 3%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inv{
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: all 0.5s;
    z-index: 4;
}

.close_inv{
    transform: translateY(0%);
}

.restart{
    width: 20%;
    height: 20%;
    background-color: #eb4747;
    border-radius: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items{
    width: 20%;
    height: 20%;
    background-color: #47a037;
    border-radius: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip{
    width: 20%;
    height: 20%;
    background-color: #477feb;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inv_items{
    width: 20%;
    height: 20%;
    background-color: #232323;
    color: #148f00;
    border-radius: 30px;
    font-size: 32px;
    letter-spacing: 5px;
    margin: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inv_panel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    align-items: center;
    justify-content: center;
}

.gameover{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 20;
    color: white;
    transition: all 0.5s;
}

.gameover h1 {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 50px;
}

.gameoverContent {
    font-size: 32px;
    color: #fff;
    letter-spacing: 5px;
}

.restart_go{
    width: 20%;
    height: 20%;
    background-color: #eb4747;
    margin-bottom: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip_go{
    width: 20%;
    height: 20%;
    background-color: #477feb;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameoverContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clearMoveset{
    width: 15%;
    height: 8%;
    position: absolute;
    bottom: 2%;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
