@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*  font-family: 'Prompt', sans-serif;
    font-family: "Mitr", sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Monoton', cursive;
*/

body {
  margin: 0;
  font-family: "Mitr", sans-serif;
  scroll-behavior: smooth;
}

.fullpage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.intro {
  background: linear-gradient(150deg, #080808 10%, #1f1257, #1e2364);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.icon {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 20px;
}

.logo {
  font-size: 26px;
  letter-spacing: 12px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
  text-decoration: none;
}

.menu ul {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 3px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  border-radius: 20px;
  padding: 6px 15px;
}

.menu ul li a:hover {
  color: #fff;
  background-color: #c211a1;
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(to top, #1f1257, transparent);
  z-index: 1;
}

.background img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background img#sun,
img#stars {
  mix-blend-mode: screen;
}

.containerText {
  width: 100%;
  height: 100vh;
  text-align: center;
  flex-direction: row;
  margin-top: 6%;
  color: #fff;
  font-family: "Heebo", sans-serif;
}

#text {
  font-size: 1800%;
  font-weight: 900;
  margin: 0%;
  margin-top: 8%;
}

.rocket {
  position: fixed;
  top: 10%;
  left: 48%;
  transition: all 0.5s;
  z-index: 2;
}

.rocket img {
  width: 140px;
  pointer-events: none;
}

.rocket[data-status="intro"] {
  top: 0%;
  opacity: 0;
}

.rocket[data-status="inspecRocket"] {
  opacity: 1;
  top: 10%;
  transition: all 0.5s;
}

.t_r,
.c_r {
  transform-origin: top right;
}

.t_l,
.c_l {
  transform-origin: top left;
}

.rocket[data-status="step1"] .t_r,
.rocket[data-status="step2"] .t_r,
.rocket[data-status="step3"] .t_r,
.rocket[data-status="step4"] .t_r,
.rocket[data-status="step5"] .t_r,
.rocket[data-status="inspecRover"] .t_r,
.rocket[data-status="step6"] .t_r,
.rocket[data-status="step7"] .t_r,
.rocket[data-status="step8"] .t_r,
.rocket[data-status="step9"] .t_r,
.rocket[data-status="step10"] .t_r,
.rocket[data-status="endcredit"] .t_r {
  transform: translate(30%, -50%) rotate(-45deg);
  opacity: 0;
}

.rocket[data-status="step1"] .t_l,
.rocket[data-status="step2"] .t_l,
.rocket[data-status="step3"] .t_l,
.rocket[data-status="step4"] .t_l,
.rocket[data-status="step5"] .t_l,
.rocket[data-status="inspecRover"] .t_l,
.rocket[data-status="step6"] .t_l,
.rocket[data-status="step7"] .t_l,
.rocket[data-status="step8"] .t_l,
.rocket[data-status="step9"] .t_l,
.rocket[data-status="step10"] .t_l,
.rocket[data-status="endcredit"] .t_l {
  transform: translate(-30%, -50%) rotate(45deg);
  opacity: 0;
}

.rocket[data-status="step2"] .c_r,
.rocket[data-status="step3"] .c_r,
.rocket[data-status="step4"] .c_r,
.rocket[data-status="step5"] .c_r,
.rocket[data-status="inspecRover"] .c_r,
.rocket[data-status="step6"] .c_r,
.rocket[data-status="step7"] .c_r,
.rocket[data-status="step8"] .c_r,
.rocket[data-status="step9"] .c_r,
.rocket[data-status="step10"] .c_r,
.rocket[data-status="endcredit"] .c_r {
  transform: translate(-30%, -50%) rotate(45deg);
  opacity: 0;
}

.rocket[data-status="step2"] .c_l,
.rocket[data-status="step3"] .c_l,
.rocket[data-status="step4"] .c_l,
.rocket[data-status="step5"] .c_l,
.rocket[data-status="inspecRover"] .c_l,
.rocket[data-status="step6"] .c_l,
.rocket[data-status="step7"] .c_l,
.rocket[data-status="step8"] .c_l,
.rocket[data-status="step9"] .c_l,
.rocket[data-status="step10"] .c_l,
.rocket[data-status="endcredit"] .c_l {
  transform: translate(30%, -50%) rotate(-45deg);
  opacity: 0;
}

.rocket[data-status="step3"] .body,
.rocket[data-status="step4"] .body,
.rocket[data-status="step5"] .body,
.rocket[data-status="inspecRover"] .body,
.rocket[data-status="step6"] .body,
.rocket[data-status="step7"] .body,
.rocket[data-status="step8"] .body,
.rocket[data-status="step9"] .body,
.rocket[data-status="step10"] .body,
.rocket[data-status="endcredit"] .body {
  transform: translate(0, -20%);
  /* opacity: 0; */
}

.rocket[data-status="step4"] .body,
.rocket[data-status="step5"] .body,
.rocket[data-status="inspecRover"] .body,
.rocket[data-status="step6"] .body,
.rocket[data-status="step7"] .body,
.rocket[data-status="step8"] .body,
.rocket[data-status="step9"] .body,
.rocket[data-status="step10"] .body,
.rocket[data-status="endcredit"] .body {
  transform: translate(0, -50%);
  opacity: 0;
}

.rocket[data-status="step4"] .head,
.rocket[data-status="step5"] .head,
.rocket[data-status="inspecRover"] .head,
.rocket[data-status="step6"] .head,
.rocket[data-status="step7"] .head,
.rocket[data-status="step8"] .head,
.rocket[data-status="step9"] .head,
.rocket[data-status="step10"] .head,
.rocket[data-status="endcredit"] .head {
  transform: translate(0, -25%);
  /* opacity: 0; */
}

.rocket[data-status="step5"] .head,
.rocket[data-status="inspecRover"] .head,
.rocket[data-status="step6"] .head,
.rocket[data-status="step7"] .head,
.rocket[data-status="step8"] .head,
.rocket[data-status="step9"] .head,
.rocket[data-status="step10"] .head,
.rocket[data-status="endcredit"] .head {
  transform: translate(0, -50%);
  opacity: 0;
}

.rocket[data-status="step5"] .rocketHead,
.rocket[data-status="inspecRover"] .rocketHead,
.rocket[data-status="step6"] .rocketHead,
.rocket[data-status="step7"] .rocketHead,
.rocket[data-status="step8"] .rocketHead,
.rocket[data-status="step9"] .rocketHead,
.rocket[data-status="step10"] .rocketHead,
.rocket[data-status="endcredit"] .rocketHead {
  transform: translate(0, -25%);
  /* opacity: 0; */
}

.rocket[data-status="inspecRover"] .rocketHead,
.rocket[data-status="step6"] .rocketHead,
.rocket[data-status="step7"] .rocketHead,
.rocket[data-status="step8"] .rocketHead,
.rocket[data-status="step9"] .rocketHead,
.rocket[data-status="step10"] .rocketHead,
.rocket[data-status="endcredit"] .rocketHead {
  transform: translate(0, -60%) scale(2,2);
}

.rocket[data-status="inspecRocket"] .fire,
.rocket[data-status="step1"] .fire,
.rocket[data-status="step2"] .fire,
.rocket[data-status="step3"] .fire,
.rocket[data-status="step4"] .fire,
.rocket[data-status="step5"] .fire {
  opacity: 0;
}
.rocket[data-status="inspecRover"] .fire,
.rocket[data-status="step7"] .fire,
.rocket[data-status="step8"] .fire,
.rocket[data-status="step9"] .fire,
.rocket[data-status="step10"] .fire,
.rocket[data-status="endcredit"] .fire {
  transform: translate(0, -60%) scale(2,2);
  opacity: 0;
}

.rocket[data-status="step6"] .fire {
  transform: translate(0, -60%) scale(2,2);
}

.rocket[data-status="inspecRocket"] .parachute,
.rocket[data-status="step1"] .parachute,
.rocket[data-status="step2"] .parachute,
.rocket[data-status="step3"] .parachute,
.rocket[data-status="step4"] .parachute,
.rocket[data-status="step5"] .parachute,
.rocket[data-status="inspecRover"] .parachute,
.rocket[data-status="step6"] .parachute {
  opacity: 0;
}

.rocket[data-status="step7"] .parachute {
  transform: scale(3,3);
}

.rocket[data-status="step8"] .parachute,
.rocket[data-status="step9"] .parachute,
.rocket[data-status="step10"] .parachute {
  transform: translate(0, -100%) scale(3,3);
  opacity: 0;
}

.rocket[data-status="step7"] .rocketHead {
  transform: translate(0, -20%) scale(2,2);
}

.rocket[data-status="step8"] .rocketHead,
.rocket[data-status="step9"] .rocketHead,
.rocket[data-status="step10"] .rocketHead {
  transform: translate(0, -100%) scale(2,2);
  opacity: 0;
}

.rocket[data-status="inspecRocket"] .topPartRover,
.rocket[data-status="step1"] .topPartRover,
.rocket[data-status="step2"] .topPartRover,
.rocket[data-status="step3"] .topPartRover,
.rocket[data-status="step4"] .topPartRover,
.rocket[data-status="step5"] .topPartRover,
.rocket[data-status="inspecRover"] .topPartRover,
.rocket[data-status="step6"] .topPartRover,
.rocket[data-status="step7"] .topPartRover,
.rocket[data-status="inspecRocket"] .bottomPartRover,
.rocket[data-status="step1"] .bottomPartRover,
.rocket[data-status="step2"] .bottomPartRover,
.rocket[data-status="step3"] .bottomPartRover,
.rocket[data-status="step4"] .bottomPartRover,
.rocket[data-status="step5"] .bottomPartRover,
.rocket[data-status="inspecRover"] .bottomPartRover,
.rocket[data-status="step6"] .bottomPartRover,
.rocket[data-status="step7"] .bottomPartRover {
  opacity: 0;
}

.rocket[data-status="step8"] .topPartRover,
.rocket[data-status="step9"] .topPartRover,
.rocket[data-status="step8"] .bottomPartRover {
  transform: translate(0, 40%) scale(2,2);
}

.rocket[data-status="step9"] .topPartRover,
.rocket[data-status="step10"] .topPartRover {
  transform: translate(0, -30%) scale(2,2);
  opacity: 0;
}

.rocket[data-status="step9"] .bottomPartRover {
  transform: scale(2.5,2.5);
}

.rocket[data-status="step10"] .bottomPartRover {
  transform: translate(0, -80%) scale(2,2);
  opacity: 0;
}

.rocket[data-status="inspecRocket"] .rover,
.rocket[data-status="step1"] .rover,
.rocket[data-status="step2"] .rover,
.rocket[data-status="step3"] .rover,
.rocket[data-status="step4"] .rover,
.rocket[data-status="step5"] .rover,
.rocket[data-status="inspecRover"] .rover,
.rocket[data-status="step6"] .rover,
.rocket[data-status="step7"] .rover,
.rocket[data-status="step8"] .rover,
.rocket[data-status="step9"] .rover {
  transform: translate(0, 200%) scale(2,2);
  opacity: 0;
}

.rocket[data-status="step10"] .rover {
  transform: translate(0, 250%) scale(2.5,2.5);
}


.rocketPart {
  position: absolute;
  top: 0;
  transition: all 0.5s;
}

.t_r,
.t_l,
.c_r {
  z-index: 6;
}

.c_l {
  z-index: 5;
}

.body,
.fire {
  z-index: 4;
}

.rocketHead {
  z-index: 3;
}

.head {
  z-index: 2;
}

.rocketPage {
  background: linear-gradient(180deg, #1f1257, #191044, #0b071d);
}

.rocketPage .step6 {
  position: relative;
}

.step6::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  background: linear-gradient(to top, #ae6b50, transparent);
  z-index: 1;
}

.rocketPage .step6 img#mars {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.backgroundLatterPage {
  background: linear-gradient(180deg, #ae6b50, #723b26, #0a0400);
}

.endCredit {
  background: #0a0400;
}